modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34999
externalPort = 3001

[[ports]]
localPort = 35297
externalPort = 3003

[[ports]]
localPort = 36179
externalPort = 5000

[[ports]]
localPort = 36373
externalPort = 3002

[[ports]]
localPort = 39227
externalPort = 3000

[[ports]]
localPort = 40871
externalPort = 5173

[[ports]]
localPort = 42687
externalPort = 6000

[[ports]]
localPort = 44321
externalPort = 4200

[nix]
channel = "stable-25_05"
