modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33751
externalPort = 8008

[[ports]]
localPort = 34295
externalPort = 5173

[[ports]]
localPort = 34481
externalPort = 4200

[[ports]]
localPort = 35355
externalPort = 8080

[[ports]]
localPort = 35917
externalPort = 8000

[[ports]]
localPort = 35941
externalPort = 3000

[[ports]]
localPort = 39931
externalPort = 9000

[[ports]]
localPort = 42039
externalPort = 3001

[[ports]]
localPort = 42685
externalPort = 6800

[[ports]]
localPort = 43489
externalPort = 3003

[[ports]]
localPort = 43909
externalPort = 5000

[[ports]]
localPort = 44427
externalPort = 8081

[[ports]]
localPort = 46083
externalPort = 8099

[[ports]]
localPort = 46153
externalPort = 3002

[[ports]]
localPort = 46617
externalPort = 6000

[nix]
channel = "stable-25_05"
