modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "javascript_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:dev"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 9229
externalPort = 3000

[[ports]]
localPort = 33525
externalPort = 5173

[[ports]]
localPort = 34169
externalPort = 8008

[[ports]]
localPort = 37107
externalPort = 9000

[[ports]]
localPort = 37585
externalPort = 4200

[[ports]]
localPort = 37869
externalPort = 8080

[[ports]]
localPort = 38327
externalPort = 3003

[[ports]]
localPort = 40943
externalPort = 6000

[[ports]]
localPort = 41547
externalPort = 8081

[[ports]]
localPort = 42187
externalPort = 3001

[[ports]]
localPort = 42803
externalPort = 3002

[[ports]]
localPort = 43313
externalPort = 5000

[[ports]]
localPort = 43495
externalPort = 8000

[[ports]]
localPort = 43615
externalPort = 6800

[[ports]]
localPort = 46181
externalPort = 8099

[nix]
channel = "stable-25_05"
